@import "tailwindcss";

@theme {
  --color-state-new: #475569; /* slate-600 */
  --color-state-ready: #f59e0b; /* amber-500 */
  --color-state-running: #10b981; /* emerald-500 */
  --color-state-waiting: #06b6d4; /* cyan-500 */
  --color-state-terminated: #94a3b8; /* slate-400 */
  --color-state-ctx: #ef4444; /* red-500 */
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
